<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="success-card">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `success-card`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class SuccessCard extends Polymer.Element {
      static get is() { return 'success-card'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'success-card'
          }
        };
      }
    }

    window.customElements.define(SuccessCard.is, SuccessCard);
  </script>
</dom-module>
